
<script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css" />

<div class="calendar">
  Loading data just for you...
</div>

<script>
  // Replace 'your-username' with your actual GitHub username
  GitHubCalendar(".calendar", "marotiuppe");
  // Optionally, enable responsive functionality:
  GitHubCalendar(".calendar", "marotiuppe", { responsive: true });
</script>


